body {
    font-family: Arial, sans-serif;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
html, body {
    overflow: hidden;
}
canvas {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


label {
    font-weight: bold;
    margin-bottom: 10px;
}
.header{
	display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    pointer-events: none;
}
.mainArea{
	width: 100%;
    display: flex;
    justify-content: center;
    height: 90%;
    pointer-events: none;
}
#managerbtn{
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 43%;
    height: 100%;
    pointer-events: auto;
}
#clientbtn{
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 43%;
    height: 100%;
    pointer-events: auto;
}
