body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
}

.left-section {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineBtn{
	width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.right-section button {
    margin-top: 10px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

span {
    font-weight: bold;
    color: #007bff;
}
.checkbox-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}